<form [formGroup]="userForm">
    <ax-control title="User Name:">
        <input [formControl]="userName" type="text" placeholder="Name">

        <validation when="required">This field is required</validation>
        <validation when="minlength">Should be at least 3 characters</validation>
        <validation when="pattern">Should match pattern</validation>
    </ax-control>

    <ax-control title="User Birth Date:">
        <input formControlName="userBirthDate" type="date" placeholder="Birth Date">

        <validation when="required">This field is required</validation>
        <validation when="tooYoung">You are too young</validation>
    </ax-control>
</form>